%script(type="text/javascript"
        src="https://www.google.com/jsapi")
%div{:id => "financials"}
  %div{:id => "fcontent"}
    %h3 Current Investments
    = @user.display_total_of_backs
    %br
    %h3 Available Balance
    = @user.display_credits
  %div{:id => "chart"}
  %div{:id => "investbutton"}
  = image_tag ('InvestmentB.png')
  :javascript
    var backs = [#{ @user.backs_as_json }];
    var dataArray = [['Task', 'Hours per Day']];
    for(var backID in backs) {
      var projects = backs[backID];
      for(var projID in backs[backID]) {
        proj = projects[projID];
        dataArray.push([proj.project.name, parseFloat(proj.display_value.replace("$", ""))]);
      }
    }
    dataArray.push(['Uninvested Funds', parseFloat("#{@user.display_credits}".replace("$", ""))]);
= javascript_include_tag 'graphing'

